#app{
display: grid;
row-gap: 50px;
}

#app-title{
display: flex;
align-content: center;
justify-content: center;
font-family: Arial, sans-serif;
color: darkslateblue;
}

#app-directions{
display: flex;
align-content: center;
justify-content: center;
font-family: Arial, sans-serif;
color: darkgoldenrod;
}

#fact-text{
display: flex;
align-content: center;
justify-content: center;
font-family: Arial, sans-serif;
color: blueviolet;
padding-bottom: 50px;
}

.button-selections{
display: flex;
align-content: center;
justify-content: center;
flex-direction: row;
gap: 350px;
}

.person-button{
display: flex;
align-content: center;
justify-content: center;
flex-direction: row;
font-family: Arial, sans-serif;
color: blueviolet;
}

.correct-percent{
display: flex;
align-content: center;
justify-content: center;
flex-direction: row;
padding-bottom: 100px;
}

#coach-circle{
display: flex;
width: 50px;
height: 50px;
background-color: green;
border-radius: 50%;
}

#mentor-circle{
display: flex;
width: 50px;
height: 50px;
background-color: green;
border-radius: 50%;
}

#sponsor-circle{
display: flex;
width: 50px;
height: 50px;
background-color: green;
border-radius: 50%;
}

.color-style-green{
    color: green;
}

.color-style-yellow{
    color: yellow;
}

.color-style-red{
    color: red;
}

.game-buttons{
display: flex;
align-content: center;
justify-content: center;
flex-direction: row;
gap: 350px;
padding-top: 150px;
}

#start-button{
display: flex;
align-content: center;
justify-content: center;
font-family: Arial, sans-serif;
color: maroon;
}

#reset-button{
display: flex;
align-content: center;
justify-content: center;
font-family: Arial, sans-serif;
color: maroon;
}