#app{
display: grid;
row-gap: 50px;
}

#app-title{
display: flex;
align-content: center;
justify-content: center;
font-family: Arial, sans-serif;
color: darkslateblue;
}

#app-directions{
display: flex;
align-content: center;
justify-content: center;
font-family: Arial, sans-serif;
color: darkgoldenrod;
}

#fact-text{
display: flex;
align-content: center;
justify-content: center;
font-family: Arial, sans-serif;
color: blueviolet;
padding-bottom: 50px;
}

.button-selections{
display: flex;
align-content: center;
justify-content: center;
flex-direction: row;
gap: 350px;
font-family: Arial, sans-serif;
color: blueviolet;
}

.person-button{
display: flex;
align-content: center;
justify-content: center;
flex-direction: row;
}

.correct-percent{
display: flex;
align-content: center;
justify-content: center;
flex-direction: row;
padding-bottom: 100px;
}

.circle{
display: flex;
width: 50px;
height: 50px;
background-color: green;
border-radius: 50%;
}

 /* CSS rule: add classes for yellow and red then DOM manipulate */


.game-buttons{
display: flex;
align-content: center;
justify-content: center;
flex-direction: row;
gap: 350px;
padding-top: 150px;
font-family: Arial, sans-serif;
color: maroon;
}

#start-button{
display: flex;
align-content: center;
justify-content: center;
}

#reset-button{
display: flex;
align-content: center;
justify-content: center;
}