#app{
display: grid;
row-gap: 50px;
}

#app-title{
display: flex;
align-content: center;
justify-content: center;
}

#app-directions{
display: flex;
align-content: center;
justify-content: center;
}

#fact-text{
display: flex;
align-content: center;
justify-content: center;
}

.button-selections{
display: flex;
align-content: center;
justify-content: center;
flex-direction: row;
gap: 350px;
}

.person-button{
display: flex;
align-content: center;
justify-content: center;
flex-direction: row;
}

.correct-percent{
display: flex;
align-content: center;
justify-content: center;
flex-direction: row;
}

img{

}

.game-buttons{
display: flex;
align-content: center;
justify-content: center;
flex-direction: row;
gap: 350px;
padding-top: 150px;
}

#start-button{
display: flex;
align-content: center;
justify-content: center;
}

#reset-button{
display: flex;
align-content: center;
justify-content: center;
}