#app-title{
display: flex;
align-content: center;
justify-content: center;
}

#app-directions{
display: flex;
align-content: center;
justify-content: center;
}

#fact-text{
display: flex;
align-content: center;
justify-content: center;
}

.person-button{
display: flex;
align-content: center;
justify-content: center;
flex-direction: row;
}

.correct-percent{
display: flex;
align-content: center;
justify-content: center;
flex-direction: row;
}

img{

}

#start-button{
display: flex;
align-content: center;
justify-content: center;
}

#reset-button{
display: flex;
align-content: center;
justify-content: center;
}